@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  * {
    /* For some reason, this is required or else copy-pasting the text in the pdf will
    result in the text being reversed */
    /* font-family: sans-serif !important; */
  }

  @page {
    margin: 1rem 0;

  }

  @page :first {
    margin: 0 0 1rem 0;
  }

  #page-numbers {
    @apply text-xs !font-sans;
    text-align: right;
    width: 297mm;
    font-size: 8px;
  }

  header {
    /* @apply text-slate-50 bg-sky-900 p-8 space-y-2 text-xs; */
    @apply p-8 mb-4 border-b-2 border-sky-200 bg-gradient-to-br from-sky-50 via-sky-100 to-sky-200;
    /* clip-path: url(#headerCurve); */
  }

  header h1 {
    @apply text-4xl font-semibold;
  }

  header h2 {
    @apply text-xl;
  }

  #info {
    @apply flex flex-col flex-wrap mt-4 space-y-2;
    flex-shrink: 0;
  }

  #summary {
    @apply text-xs mt-4 max-w-lg space-y-4;
  }

  main {
    @apply flex px-8 py-0 space-x-8;
  }

  aside {
    @apply space-y-4;
    width: 250px;
    flex-shrink: 0;
  }

  main h2 {
    @apply text-xl font-bold text-sky-900;
  }

  aside h3 {
    @apply text-lg font-bold text-sky-900;
  }

  aside h4 {
    @apply text-sm font-semibold text-sky-900;
  }

  aside ul {
    @apply grid gap-1;

    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }

  aside li {
    @apply text-xs;
  }

  #open-source div + div {
    @apply mt-2
  }

  #work {
    @apply space-y-2;
  }

  #work h3 {
    @apply text-lg font-bold text-slate-800 -mt-2;
  }

  #work h4 {
    @apply text-sm font-semibold text-slate-800;
  }

  .date {
    @apply text-xs font-normal text-slate-600 ml-2;
  }

  .job {
    @apply pt-2;
    break-inside: avoid;
  }

  .job li, .schoolName {
    @apply mt-2 text-xs ;
  }

  .job ul {
    @apply pl-4 list-disc space-y-1;
  }

  #resume-link {
    @apply text-xs space-y-2;
  }
}